@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="file"] {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

img {
  display: block;
  max-width: 100px;
  margin-top: 10px;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

button[type="button"] {
  background-color: #d9534f;
}
button + button {
  margin-left: 10px;
}
